.title{
    text-align: center;
    margin-top: -70px;
}

.our-process{
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
    gap: 1.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:flex-start; 
    width: 100%;
}

.step1, .step3, .step5{
    margin-right:300px;
    margin-left: 0;
}
/* .step3{
    margin-right:300px;
    margin-left: 0;
} */

.stepimg2, .stepimg4, .stepimg6{
    width: 100px;
    height: 100px;
    margin-top:18px;
    margin-left: -200px;
}

.stepimg1, .stepimg3, .stepimg5{
    width: 100px;
    height: 100px;
    margin-top:18px;
    margin-left: 220px;
    
}

.our-process p{
    width: 300px;
    text-align: justify;
}

.step-title{
    text-align: justify;
}
